{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-8">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% for new in news %}
        <h3><a href="{{ url_for('news.single_news', news_id=new.id) }}">{{ new.title }}</a></h3>
        <p>{{ new.published.strftime("%Y-%m-%d") }}</p>
        {% endfor %}
    </div>
    <div class="col-4">
        <h2>Прогноз погоды</h2>
            {% if weather %}
                Погода {{weather.main.temp}}, ощущается как {{weather.main.feels_like}}
            {% else %}
                Сервис погоды временно недоступен
            {% endif %}
    </div>
</div>
{% endblock %}
